html, body {
    margin:0;
    padding:0;
    height: 100%
    
}
body {
  background-color: #12181b;
}



.waves {
  background-image: url('assets/layered-waves-haikei.svg');
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0px;
}
    
.nav {
  background-color: #2a2e35;
  width: 100%;
  height: 3rem;
  position: static;
  top: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px rgb(18, 18, 18);
}

li {
  color: rgb(206, 213, 218);
  list-style: none;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  font-size: 2rem;
}

.main-content{
  display:flex;
  max-height: 50rem;
  justify-content: space-around;
  margin-top: 5rem;
  align-items: center;
  /* gap: 10rem; */
  
}

  #button {
    display: flex;
    width: 12rem;
    height: 2rem;
    padding: 1.5rem;
    border: 2px solid #C62368;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    line-height: 22px;
    text-decoration-line: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #12181b;
  
}

p{
  padding: 1rem 0;
  color: whitesmoke;
}